@layout SessionLayout
@using Microsoft.AspNetCore.Components.Rendering;
@using Microsoft.AspNetCore.Components.RenderTree;
@using Radzen
@inject IJSRuntime JSRuntime;
@inject Radzen.DialogService DialogService;
@page "/Sessions/Create/{id:int}"


<div class="skin-green sidebar-collapse sidebar-mini pos">
    <div class="wrapper rtl rtl-inv">

        <SessionHeader Id="@id"></SessionHeader>

        <div class="content-wrapper">

            <div class="col-lg-12 alerts">
            </div>
            <SessionContent Id="@id"></SessionContent>

        </div>
    </div>
    <SessionModal></SessionModal>
</div>

@code {

    //public void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    //{
    //    //events.Add(DateTime.Now, "Dialog opened");
    //    StateHasChanged();
    //}

    //public async void Close(dynamic result)
    //{
    //    //events.Add(DateTime.Now, "Dialog closed. Result: " + result);

    //    StateHasChanged();
    //}
}
