 <!--begin::Bottom-->
<div class="header-bottom">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Header Menu Wrapper-->
        <div class="header-navs header-navs-left" id="kt_header_navs">
            <!--begin::Tab Navs(for tablet and mobile modes)-->
            <ul class="header-tabs p-5 p-lg-0 d-flex d-lg-none nav nav-bold nav-tabs" role="tablist">
                <!--begin::Item-->
                <li class="nav-item mr-3">
                    <NavLink href="/" class="nav-link btn btn-clean active" data-toggle="tab" data-target="#kt_header_tab_1" role="tab">Home</NavLink>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="nav-item mr-3">
                    <NavLink href="#" class="nav-link btn btn-clean" data-toggle="tab" data-target="#kt_header_tab_2" role="tab">Orders</NavLink>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="nav-item mr-3">
                    <NavLink href="#" class="nav-link btn btn-clean" data-toggle="tab" data-target="#kt_header_tab_3" role="tab">Products</NavLink>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="nav-item mr-3">
                    <NavLink href="#" class="nav-link btn btn-clean" data-toggle="tab" data-target="#kt_header_tab_4" role="tab">Reporting</NavLink>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="nav-item mr-3">
                    <a href="#" class="nav-link btn btn-clean" data-toggle="tab" data-target="#kt_header_tab_5" role="tab">Configuration</a>
                </li>
                <!--end::Item-->
            </ul>
            <!--begin::Tab Navs-->
            <!--begin::Tab Content-->
            <div class="tab-content">
                <!--begin::Tab Pane-->
                <div class="tab-pane py-5 p-lg-0 show active" id="kt_header_tab_1">
                    <!--begin::Menu-->
                    <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                        <!--begin::Nav-->
                        <ul class="menu-nav">
                            <li class="menu-item menu-item-active" aria-haspopup="true">
                                <NavLink href="/" class="menu-link">
                                    <span class="menu-text">Home</span>
                                </NavLink>
                            </li>
                            <li class="menu-item menu-item" aria-haspopup="true">
                                <NavLink href="/Dashboard" class="menu-link">
                                    <span class="menu-text">Dashboard</span>
                                </NavLink>
                            </li>
                        </ul>
                        <!--end::Nav-->
                    </div>
                    <!--end::Menu-->
                </div>
                <!--begin::Tab Pane-->
                <!--begin::Tab Pane-->
                <div class="tab-pane py-5 p-lg-0" id="kt_header_tab_2">
                    <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">
                        <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                            <!--begin::Nav-->
                            <!--begin::Actions-->
                            <ul class="menu-nav">

                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/Orders" class="menu-link">
                                        <span class="menu-text">Orders</span>
                                    </NavLink>
                                </li>
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/Sessions" class="menu-link">
                                        <span class="menu-text">Sessions</span>
                                    </NavLink>
                                </li>
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/Payments" class="menu-link">
                                        <span class="menu-text">Payments</span>
                                    </NavLink>
                                </li>
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/CustomersList" class="menu-link">
                                        <span class="menu-text">Customers</span>
                                    </NavLink>
                                </li>
                            </ul>
                            <!--end::Actions-->
                        </div>
                    </div>
                </div>
                <!--begin::Tab Pane-->
                <!--begin::Tab Pane-->
                <div class="tab-pane py-5 p-lg-0" id="kt_header_tab_3">
                    <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">
                        <!--begin::Nav-->
                        <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                            <!--begin::Nav-->
                            <ul class="menu-nav">
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/Products" class="menu-link">
                                        <span class="menu-text">Products</span>
                                    </NavLink>
                                </li>
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/LoyaltyPrograms"  class="menu-link">
                                        <span class="menu-text">Loyalty Programs</span>
                                    </NavLink>
                                </li>
                            </ul>
                            <!--end::Nav-->
                        </div>
                    </div>
                </div>
                <!--begin::Tab Pane-->
                <!--begin::Tab Pane-->
                <div class="tab-pane p-5 p-lg-0" id="kt_header_tab_4">
                    <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">
                        <!--begin::Nav-->
                        <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                            <ul class="menu-nav">
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/OrderReports" class="menu-link">
                                        <span class="menu-text">Orders</span>
                                    </NavLink>
                                </li>
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/SalesDetailReports" class="menu-link">
                                        <span class="menu-text">Sales Details</span>
                                    </NavLink>
                                </li>
                            </ul>
                            <!--end::Nav-->
                        </div>
                    </div>
                </div>
                <!--begin::Tab Pane-->
                <!--begin::Tab Pane-->
                <div class="tab-pane p-5 p-lg-0 justify-content-between" id="kt_header_tab_5">
                    <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">
                        <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                            <!--begin::Actions-->
                            <ul class="menu-nav">

                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/Settings" class="menu-link">
                                        <span class="menu-text">Settings</span>
                                    </NavLink>
                                </li>
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/PoinOfSale" class="menu-link">
                                        <span class="menu-text">Point of Sale</span>
                                    </NavLink>
                                </li>
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/PaymentMethods" class="menu-link">
                                        <span class="menu-text">Payment Methods</span>
                                    </NavLink>
                                </li>
                                <li class="menu-item menu-item" aria-haspopup="true">
                                    <NavLink href="/ProductCategories" class="menu-link">
                                        <span class="menu-text">POS Product Categories</span>
                                    </NavLink>
                                </li>
                            </ul>
                            <!--end::Actions-->
                        </div>
                    </div>
                </div>
                <!--begin::Tab Pane-->
            </div>
            <!--end::Tab Content-->
        </div>
        <!--end::Header Menu Wrapper-->
    </div>
    <!--end::Container-->
</div>
<!--end::Bottom-->
@code {

}
