  <!--begin::Step 5-->
<div class="pb-5" data-wizard-type="step-content">
    <h4 class="mb-10 font-weight-bold">Review your Details and Submit</h4>
    <h6 class="font-weight-bold mb-3">Project Details:</h6>
    <table class="w-100">
        <tr>
            <td class="font-weight-bold text-muted">Name:</td>
            <td class="font-weight-bold text-right">Loop Inc CRM App</td>
        </tr>
        <tr>
            <td class="font-weight-bold text-muted">Phone:</td>
            <td class="font-weight-bold text-right">+61412345678</td>
        </tr>
        <tr>
            <td class="font-weight-bold text-muted">Email:</td>
            <td class="font-weight-bold text-right">johnwick@reeves.com</td>
        </tr>
    </table>
    <div class="separator separator-dashed my-5"></div>
    <h6 class="font-weight-bold mb-3">Delivery Info:</h6>
    <table class="w-100">
        <tr>
            <td class="font-weight-bold text-muted">Address Line 1:</td>
            <td class="font-weight-bold text-right">Fox Avenue 5-6B</td>
        </tr>
        <tr>
            <td class="font-weight-bold text-muted">Address Line 2:</td>
            <td class="font-weight-bold text-right">Melbourne VIC</td>
        </tr>
        <tr>
            <td class="font-weight-bold text-muted">Post:</td>
            <td class="font-weight-bold text-right">3000</td>
        </tr>
        <tr>
            <td class="font-weight-bold text-muted">Country:</td>
            <td class="font-weight-bold text-right">Australia</td>
        </tr>
    </table>
    <div class="separator separator-dashed my-5"></div>
    <h6 class="font-weight-bold mb-3">Payment Details:</h6>
    <table class="w-100">
        <tr>
            <td class="font-weight-bold text-muted">Card Number:</td>
            <td class="font-weight-bold text-right">xxxx xxxx xxxx 1111</td>
        </tr>
        <tr>
            <td class="font-weight-bold text-muted">Card Name:</td>
            <td class="font-weight-bold text-right">John Wick</td>
        </tr>
        <tr>
            <td class="font-weight-bold text-muted">Card Expiry:</td>
            <td class="font-weight-bold text-right">01/21</td>
        </tr>
    </table>
</div>
<!--end::Step 4-->
@code {

}
