@page  "/Dashboard"
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-2 mr-5">Home</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="/Dashboard" class="text-muted">Dashboard</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="row">
        <div class="col-md-4 col-sm-4 p-4">
            <!--begin::Mixed Widget 16-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-title">
                        <div class="card-label">
                            <div class="font-weight-bolder">Weekly Sales Stats</div>
                            <div class="font-size-sm text-muted mt-2">890,344 Sales</div>
                        </div>
                    </div>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline">
                            <a href="#" class="btn btn-clean btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ki ki-bold-more-hor"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                <!--begin::Navigation-->
                                <ul class="navi navi-hover">
                                    <li class="navi-header font-weight-bold py-4">
                                        <span class="font-size-lg">Choose Label:</span>
                                        <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="" data-original-title="Click to learn more..."></i>
                                    </li>
                                    <li class="navi-separator mb-3 opacity-70"></li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-text">
                                                <span class="label label-xl label-inline label-light-success">Customer</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-text">
                                                <span class="label label-xl label-inline label-light-danger">Partner</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-text">
                                                <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-text">
                                                <span class="label label-xl label-inline label-light-primary">Member</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-text">
                                                <span class="label label-xl label-inline label-light-dark">Staff</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="navi-separator mt-3 opacity-70"></li>
                                    <li class="navi-footer py-4">
                                        <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                            <i class="ki ki-plus icon-sm"></i>Add new
                                        </a>
                                    </li>
                                </ul>
                                <!--end::Navigation-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body d-flex flex-column">
                    <!--begin::Chart-->
                    <div class="flex-grow-1" style="position: relative;">
                        <div id="kt_mixed_widget_16_chart" style="height: 200px; min-height: 178.7px;"><div id="apexchartsyjidoly8" class="apexcharts-canvas apexchartsyjidoly8 apexcharts-theme-light" style="width: 355px; height: 178.7px;"><svg id="SvgjsSvg1415" width="355" height="178.7" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1417" class="apexcharts-inner apexcharts-graphical" transform="translate(90.5, 0)"><defs id="SvgjsDefs1416"><clipPath id="gridRectMaskyjidoly8"><rect id="SvgjsRect1419" width="182" height="200" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskyjidoly8"><rect id="SvgjsRect1420" width="180" height="202" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1421" class="apexcharts-radialbar"><g id="SvgjsG1422"><g id="SvgjsG1423" class="apexcharts-tracks"><g id="SvgjsG1424" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 88 22.415609756097552 A 65.58439024390245 65.58439024390245 0 1 1 87.9885533645814 22.415610755004934" fill="none" fill-opacity="1" stroke="rgba(243,246,249,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="6.179512195121951" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 88 22.415609756097552 A 65.58439024390245 65.58439024390245 0 1 1 87.9885533645814 22.415610755004934"></path></g><g id="SvgjsG1426" class="apexcharts-radialbar-track apexcharts-track" rel="2"><path id="apexcharts-radialbarTrack-1" d="M 88 33.595121951219504 A 54.404878048780496 54.404878048780496 0 1 1 87.99050455753722 33.59512277985318" fill="none" fill-opacity="1" stroke="rgba(243,246,249,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="6.179512195121951" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 88 33.595121951219504 A 54.404878048780496 54.404878048780496 0 1 1 87.99050455753722 33.59512277985318"></path></g><g id="SvgjsG1428" class="apexcharts-radialbar-track apexcharts-track" rel="3"><path id="apexcharts-radialbarTrack-2" d="M 88 44.774634146341455 A 43.225365853658545 43.225365853658545 0 1 1 87.99245575049304 44.77463480470142" fill="none" fill-opacity="1" stroke="rgba(243,246,249,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="6.179512195121951" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 88 44.774634146341455 A 43.225365853658545 43.225365853658545 0 1 1 87.99245575049304 44.77463480470142"></path></g><g id="SvgjsG1430" class="apexcharts-radialbar-track apexcharts-track" rel="4"><path id="apexcharts-radialbarTrack-3" d="M 88 55.95414634146341 A 32.04585365853659 32.04585365853659 0 1 1 87.99440694344885 55.954146829549664" fill="none" fill-opacity="1" stroke="rgba(243,246,249,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="6.179512195121951" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 88 55.95414634146341 A 32.04585365853659 32.04585365853659 0 1 1 87.99440694344885 55.954146829549664"></path></g></g><g id="SvgjsG1432"><g id="SvgjsG1436" class="apexcharts-series apexcharts-radial-series" seriesName="Progress" rel="1" data:realIndex="0"><path id="SvgjsPath1437" d="M 88 22.415609756097552 A 65.58439024390245 65.58439024390245 0 1 1 49.450462634039795 141.05888627303557" fill="none" fill-opacity="0.85" stroke="rgba(137,80,252,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="6.179512195121951" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="216" data:value="60" index="0" j="0" data:pathOrig="M 88 22.415609756097552 A 65.58439024390245 65.58439024390245 0 1 1 49.450462634039795 141.05888627303557"></path></g><g id="SvgjsG1438" class="apexcharts-series apexcharts-radial-series" seriesName="seriesx2" rel="2" data:realIndex="1"><path id="SvgjsPath1439" d="M 88 33.595121951219504 A 54.404878048780496 54.404878048780496 0 0 1 88 142.4048780487805" fill="none" fill-opacity="0.85" stroke="rgba(246,78,96,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="6.179512195121951" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-1" data:angle="180" data:value="50" index="0" j="1" data:pathOrig="M 88 33.595121951219504 A 54.404878048780496 54.404878048780496 0 0 1 88 142.4048780487805"></path></g><g id="SvgjsG1440" class="apexcharts-series apexcharts-radial-series" seriesName="seriesx3" rel="3" data:realIndex="2"><path id="SvgjsPath1441" d="M 88 44.774634146341455 A 43.225365853658545 43.225365853658545 0 1 1 44.774634146341455 88" fill="none" fill-opacity="0.85" stroke="rgba(27,197,189,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="6.179512195121951" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-2" data:angle="270" data:value="75" index="0" j="2" data:pathOrig="M 88 44.774634146341455 A 43.225365853658545 43.225365853658545 0 1 1 44.774634146341455 88"></path></g><g id="SvgjsG1442" class="apexcharts-series apexcharts-radial-series" seriesName="seriesx4" rel="4" data:realIndex="3"><path id="SvgjsPath1443" d="M 88 55.95414634146341 A 32.04585365853659 32.04585365853659 0 1 1 57.52258205780789 78.0972866202596" fill="none" fill-opacity="0.85" stroke="rgba(105,147,255,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="6.179512195121951" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-3" data:angle="288" data:value="80" index="0" j="3" data:pathOrig="M 88 55.95414634146341 A 32.04585365853659 32.04585365853659 0 1 1 57.52258205780789 78.0972866202596"></path></g><circle id="SvgjsCircle1433" r="28.95609756097561" cx="88" cy="88" class="apexcharts-radialbar-hollow" fill="transparent"></circle><g id="SvgjsG1434" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1435" font-family="Helvetica, Arial, sans-serif" x="88" y="98" text-anchor="middle" dominant-baseline="auto" font-size="18px" font-weight="700" fill="#464e5f" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">60%</text></g></g></g></g><line id="SvgjsLine1444" x1="0" y1="0" x2="176" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1445" x1="0" y1="0" x2="176" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1418" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div></div></div>
                        <div class="resize-triggers"><div class="expand-trigger"><div style="width: 356px; height: 209px;"></div></div><div class="contract-trigger"></div></div>
                    </div>
                    <!--end::Chart-->
                    <!--begin::Items-->
                    <div class="mt-10 mb-5">
                        <div class="row row-paddingless mb-10">
                            <!--begin::Item-->
                            <div class="col">
                                <div class="d-flex align-items-center mr-2">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-45 symbol-light-info mr-4 flex-shrink-0">
                                        <div class="symbol-label">
                                            <span class="svg-icon svg-icon-lg svg-icon-info">
                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo7/dist/assets/media/svg/icons/Shopping/Cart3.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path d="M12,4.56204994 L7.76822128,9.6401844 C7.4146572,10.0644613 6.7840925,10.1217854 6.3598156,9.76822128 C5.9355387,9.4146572 5.87821464,8.7840925 6.23177872,8.3598156 L11.2317787,2.3598156 C11.6315738,1.88006147 12.3684262,1.88006147 12.7682213,2.3598156 L17.7682213,8.3598156 C18.1217854,8.7840925 18.0644613,9.4146572 17.6401844,9.76822128 C17.2159075,10.1217854 16.5853428,10.0644613 16.2317787,9.6401844 L12,4.56204994 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                        <path d="M3.5,9 L20.5,9 C21.0522847,9 21.5,9.44771525 21.5,10 C21.5,10.132026 21.4738562,10.2627452 21.4230769,10.3846154 L17.7692308,19.1538462 C17.3034221,20.271787 16.2111026,21 15,21 L9,21 C7.78889745,21 6.6965779,20.271787 6.23076923,19.1538462 L2.57692308,10.3846154 C2.36450587,9.87481408 2.60558331,9.28934029 3.11538462,9.07692308 C3.23725479,9.02614384 3.36797398,9 3.5,9 Z M12,17 C13.1045695,17 14,16.1045695 14,15 C14,13.8954305 13.1045695,13 12,13 C10.8954305,13 10,13.8954305 10,15 C10,16.1045695 10.8954305,17 12,17 Z" fill="#000000"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Title-->
                                    <div>
                                        <div class="font-size-h4 text-dark-75 font-weight-bolder">$2,034</div>
                                        <div class="font-size-sm text-muted font-weight-bold mt-1">Author Sales</div>
                                    </div>
                                    <!--end::Title-->
                                </div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="col">
                                <div class="d-flex align-items-center mr-2">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-45 symbol-light-danger mr-4 flex-shrink-0">
                                        <div class="symbol-label">
                                            <span class="svg-icon svg-icon-lg svg-icon-danger">
                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo7/dist/assets/media/svg/icons/Home/Library.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"></path>
                                                        <rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1"></rect>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Title-->
                                    <div>
                                        <div class="font-size-h4 text-dark-75 font-weight-bolder">$706</div>
                                        <div class="font-size-sm text-muted font-weight-bold mt-1">Commission</div>
                                    </div>
                                    <!--end::Title-->
                                </div>
                            </div>
                            <!--end::Item-->
                        </div>
                        <div class="row row-paddingless">
                            <!--begin::Item-->
                            <div class="col">
                                <div class="d-flex align-items-center mr-2">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-45 symbol-light-success mr-4 flex-shrink-0">
                                        <div class="symbol-label">
                                            <span class="svg-icon svg-icon-lg svg-icon-success">
                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo7/dist/assets/media/svg/icons/Shopping/Cart3.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path d="M12,4.56204994 L7.76822128,9.6401844 C7.4146572,10.0644613 6.7840925,10.1217854 6.3598156,9.76822128 C5.9355387,9.4146572 5.87821464,8.7840925 6.23177872,8.3598156 L11.2317787,2.3598156 C11.6315738,1.88006147 12.3684262,1.88006147 12.7682213,2.3598156 L17.7682213,8.3598156 C18.1217854,8.7840925 18.0644613,9.4146572 17.6401844,9.76822128 C17.2159075,10.1217854 16.5853428,10.0644613 16.2317787,9.6401844 L12,4.56204994 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                        <path d="M3.5,9 L20.5,9 C21.0522847,9 21.5,9.44771525 21.5,10 C21.5,10.132026 21.4738562,10.2627452 21.4230769,10.3846154 L17.7692308,19.1538462 C17.3034221,20.271787 16.2111026,21 15,21 L9,21 C7.78889745,21 6.6965779,20.271787 6.23076923,19.1538462 L2.57692308,10.3846154 C2.36450587,9.87481408 2.60558331,9.28934029 3.11538462,9.07692308 C3.23725479,9.02614384 3.36797398,9 3.5,9 Z M12,17 C13.1045695,17 14,16.1045695 14,15 C14,13.8954305 13.1045695,13 12,13 C10.8954305,13 10,13.8954305 10,15 C10,16.1045695 10.8954305,17 12,17 Z" fill="#000000"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Title-->
                                    <div>
                                        <div class="font-size-h4 text-dark-75 font-weight-bolder">$49</div>
                                        <div class="font-size-sm text-muted font-weight-bold mt-1">Average Bid</div>
                                    </div>
                                    <!--end::Title-->
                                </div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="col">
                                <div class="d-flex align-items-center mr-2">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-45 symbol-light-primary mr-4 flex-shrink-0">
                                        <div class="symbol-label">
                                            <span class="svg-icon svg-icon-lg svg-icon-primary">
                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo7/dist/assets/media/svg/icons/Shopping/Barcode-read.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <rect fill="#000000" opacity="0.3" x="4" y="4" width="8" height="16"></rect>
                                                        <path d="M6,18 L9,18 C9.66666667,18.1143819 10,18.4477153 10,19 C10,19.5522847 9.66666667,19.8856181 9,20 L4,20 L4,15 C4,14.3333333 4.33333333,14 5,14 C5.66666667,14 6,14.3333333 6,15 L6,18 Z M18,18 L18,15 C18.1143819,14.3333333 18.4477153,14 19,14 C19.5522847,14 19.8856181,14.3333333 20,15 L20,20 L15,20 C14.3333333,20 14,19.6666667 14,19 C14,18.3333333 14.3333333,18 15,18 L18,18 Z M18,6 L15,6 C14.3333333,5.88561808 14,5.55228475 14,5 C14,4.44771525 14.3333333,4.11438192 15,4 L20,4 L20,9 C20,9.66666667 19.6666667,10 19,10 C18.3333333,10 18,9.66666667 18,9 L18,6 Z M6,6 L6,9 C5.88561808,9.66666667 5.55228475,10 5,10 C4.44771525,10 4.11438192,9.66666667 4,9 L4,4 L9,4 C9.66666667,4 10,4.33333333 10,5 C10,5.66666667 9.66666667,6 9,6 L6,6 Z" fill="#000000" fill-rule="nonzero"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Title-->
                                    <div>
                                        <div class="font-size-h4 text-dark-75 font-weight-bolder">$5.8M</div>
                                        <div class="font-size-sm text-muted font-weight-bold mt-1">All Time Sales</div>
                                    </div>
                                    <!--end::Title-->
                                </div>
                            </div>
                            <!--end::Item-->
                        </div>
                    </div>
                    <!--end::Items-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Mixed Widget 16-->
        </div>
        <div class="col-md-4 col-sm-4 p-4">
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-title">
                        <div class="card-label">
                            <div class="font-weight-bolder">Weekly Sales Stats</div>
                            <div class="font-size-sm text-muted mt-2">890,344 Sales</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <RadzenChart>
                        <RadzenPieSeries Data="@revenue" Title="Revenue" CategoryProperty="Quarter" ValueProperty="Revenue" />
                    </RadzenChart>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 p-4">
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-title">
                        <div class="card-label">
                            <div class="font-weight-bolder">Weekly Sales Stats</div>
                            <div class="font-size-sm text-muted mt-2">890,344 Sales</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <RadzenChart>
                        <RadzenColumnSeries Data="@revenue2020" CategoryProperty="Quarter" Title="2020" LineType="LineType.Dashed" ValueProperty="Revenue" />
                        <RadzenColumnSeries Data="@revenue2019" CategoryProperty="Quarter" Title="2019" ValueProperty="Revenue" />
                        <RadzenColumnOptions Radius="5" />
                        <RadzenValueAxis Formatter="@FormatAsUSD">
                            <RadzenGridLines Visible="true" />
                            <RadzenAxisTitle Text="Revenue in USD" />
                        </RadzenValueAxis>
                    </RadzenChart>

                </div>
            </div>
        </div>
    </div>
    @code {
        class DataItem
        {
            public string Quarter { get; set; }
            public double Revenue { get; set; }
        }
        string FormatAsUSD(object value)
        {
            return ((double)value).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"));
        }

        DataItem[] revenue = new DataItem[] {
        new DataItem
        {
            Quarter = "Q1",
            Revenue = 30000
        },
        new DataItem
        {
            Quarter = "Q2",
            Revenue = 40000
        },
        new DataItem
        {
            Quarter = "Q3",
            Revenue = 50000
        },
        new DataItem
        {
            Quarter = "Q4",
            Revenue = 80000
        },
    };
        DataItem[] revenue2019 = new DataItem[] {
        new DataItem
        {
            Quarter = "Q1",
            Revenue = 234000
        },
        new DataItem
        {
            Quarter = "Q2",
            Revenue = 284000
        },
        new DataItem
        {
            Quarter = "Q3",
            Revenue = 274000
        },
        new DataItem
        {
            Quarter = "Q4",
            Revenue = 294000
        },
    };

        DataItem[] revenue2020 = new DataItem[] {
        new DataItem
        {
            Quarter = "Q1",
            Revenue = 254000
        },
        new DataItem
        {
            Quarter = "Q2",
            Revenue = 324000
        },
        new DataItem
        {
            Quarter = "Q3",
            Revenue = 354000
        },
        new DataItem
        {
            Quarter = "Q4",
            Revenue = 394000
        },

    };
    }
